$calendar_background: lightgrey;
.dashboard-container {
  padding: 25px;

  .dashboard-title {
    margin: 0;
    font-size: 16px;
  }

  .calendar {
    background-color: $calendar_background;
    padding: 10px;
    p {
      margin: 0;
      color: darkgrey;
    }
  }
  .period {
    font-size: 12px;
    font-weight: 700;
    margin: 20px 0;
  }
}
