<div class="header-container">
  <div class="search-container">
    <img
      class="search-icon"
      src="../../../assets/images/loupe.svg"
      alt="Search"
    />
    <input placeholder="buscar" />
  </div>
  <div class="avatar-container">
    <img
      class="avatar"
      src="../../../assets/images/img_avatar.png"
      alt="Avatar image"
    />
    <div class="credentials">
      <p class="user-name">Nombre Usuario</p>
      <p class="user-profile">Mi perfil</p>
    </div>
  </div>
</div>
