.modal-container {
  padding: 15px;

  .modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-size: 14px;
      font-weight: 500;
    }

    .close {
      cursor: pointer;
    }
  }
  .modal-content {
    font-size: 10px;
  }
}
